
body {
    background: #e0e2e2;
    padding: 50px;
}
body, input, button {
    font-family:'Arimo', sans-serif;
}

/* Background do header */
header {
    width:100%;
    height:80px;
    padding:15px;            
    top:0;
    left:0;
    right: 15px;
    /* Define a profundidade na ordem de empilhamento */
    z-index:2;
    background:#397284;
    box-shadow:0px 2px 4px rgba(44,62,80,1);
    border-bottom-right-radius:10px;
    border-bottom-left-radius:10px;  
    box-sizing: border-box;   
}

/* Input do header */
header input {
    width:100%;
    height:50px;
    float:left;
    color: #ffffff;
    font-size:15px;
    font-weight:400;
    text-indent:18px;
    padding: 0 60px 0 0 ;
    background:#86a0a9;
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
    border-top-right-radius:25px;
    border-bottom-right-radius:25px;
    border:0px;
    box-shadow:none;
    outline:none;

    /* Compatibilidade com outros browsers */
    -webkit-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;
    -o-appearance:none;
    
}

/* Compatibilidade com outros browsers */
header input::-webkit-input-placeholder {
    color: rgba(255,255,255,0.75);
    font-size:15px;
    font-weight:400;
}

/* Compatibilidade com outros browsers */
header input::-moz-input-placeholder {
    color: rgba(255,255,255,0.75);
    font-size:15px;
    font-weight:400;
}

/* Compatibilidade com outros browsers */
header input::-moz-input-placeholder {
    color: rgba(255,255,255,0.75);
    font-size:15px;
    font-weight:400;
}

/* Compatibilidade com outros browsers */
header input::-ms-input-placeholder {
    color: rgba(255,255,255,0.75);
    font-size:15px;
    font-weight:400;
}

/* Background do botão + no input */
header button {
    width:50px;
    height:50px;
    position:absolute;
    top:15px;
    right:15px;
    z-index:2;
    border-radius:25px;
    background: #ffffff;
    border:0px;
    box-shadow:none;
    outline:none;
    cursor:pointer;
    
    /* Compatibilidade com outros browsers */
    -webkit-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;
    -o-appearance:none;
    appearance:none;
}

/* Config do svg */
header button svg {
    width:16px;
    height:16px;
    position:absolute;
    top:50%;
    left:50%;
    margin:-8px 0 0 -8px; 
}

/* .fill é a class no código do svg, cor do + */
header button svg .fill {
    fill:#397284;
}

/* div onde as ul estão */
.container {
    width:100%;
    padding: 15px;

}


ul.todo {
    width:100%;
    float:left;
}

/* box de cada tarefa */
ul.todo li {
    width:100%;
    min-height:50px;
    float:left;
    font-size:14px;
    font-weight:400;
    color:#444;
    line-height:22px; 
    background:#ffffff;
    border-radius:5px;
    position:relative;
    box-shadow:0px 1px 2px rgb(44,62,80,0.10);
    margin:0 0 10px 0;
    padding:14px 100px 14px 14px;
    list-style: none;
}

/* último box */
ul.todo li:last-of-type {
    margin:0;
}

/* posição dos botões no box */
ul.todo li .buttons {
    width:100px;
    height:50px;
    position:absolute;
    top:0;
    right:0;
}

ul.todo li .buttons button {
    width:50px;
    height:50px;
    position: relative;
    float:left;
    background:none;
    border:0px;
    box-shadow:none;
    outline:none;
    cursor: pointer;

    -webkit-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;
    -o-appearance:none;
    appearance:none;
    
}

/* Separador dos botões */
ul.todo li .buttons button:last-of-type::before {
    content:'';
    width:1px;
    height:30px;
    position:absolute;
    top:10px;
    left:0;
    background:#86a0a9;

}

/*  configurações gerais dos botões de check e remover*/
ul.todo li .buttons button svg {
    width:22px;
    height:22px;
    position:absolute;
    top:50%;
    left:50%;
    margin:-11px 0 0 -11px;
}

ul.todo li .buttons button.complete  svg {
    border-radius:11px;
    border:1.5px solid #86a0a9;

    -webkit-transition: background 0.2s ease;
    -moz-transition: background 0.2s ease;
    -ms-transition: background 0.2s ease;
    -o-transition: background 0.2s ease;
    transition: background 0.2s ease;
}

/* quando o id é completed o background do botão muda de cor */
ul.todo#completed li .buttons button.complete svg {
    background:#25b99a;
    border:0px;

}

/* quando o id não é completed, hover em cima */
ul.todo:not(#completed) li .buttons button.complete:hover svg {
    background:rgba(37,185,154,0.75);
    border:1.5px solid rgba(37,185,154,0.75);
    
}

ul.todo:not(#completed) li .buttons button.complete:hover svg .fill {
    fill: #ffffff;
    
}

ul.todo#completed li .buttons button.complete svg .fill {
    fill: #ffffff;

}

/* compatibilidade com outros browsers */
ul.todo li .buttons button svg .fill {
    -webkit-transition:fill 0.2s ease;
    -moz-transition:fill 0.2s ease;
    -ms-transition:fill 0.2s ease;
    -o-transition:fill 0.2s ease;
    transition:fill 0.2s ease;
}

/* botão de remover quando não está toggled */
ul.todo li .buttons button.remove svg .fill {
    fill:#86a0a9;
}

/* hover botão de remover */
ul.todo li .buttons button.remove:hover svg .fill {
    fill:#e85656;
}

ul.todo li .buttons button.complete  svg .fill {
    fill:#86a0a9;
}


ul.todo#completed {
    position:relative;
    padding:60px 0 0 0;
}

/* divisor entre as atividades feitas e não feitas */
ul.todo#completed:before {
    content:'';
    width:150px;
    height:1px;
    background:#86a0a9;
    position:absolute;
    top:30px;
    left:50%;
    margin:0 0 0 -75px;
}

/* se a seção estiver vazia aparece essa mensagem */
ul.todo#todo:empty:after {
    content: 'Você não tem nenhuma atividade pendente!';
    margin: 15px 0 0 0;
}

/* se a seção estiver vazia aparece essa mensagem */
ul.todo#completed:empty:after {
    content: 'Você ainda não completou nenhuma atividade!';
    margin: 15px 0 0 0;
}

/* configuração das msgs */
ul.todo#todo:after,
ul.todo#completed:after {
    width:100%;
    font-family: Arimo, sans-serif;
    display:block;
    text-align:center;
    font-size:13px;
    color: #444;
}






